*{
  box-sizing: border-box;
}

.box {
  position: relative;
  width: 500px;
  margin: auto;
  height: 500px;
}

.dough {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #FFC61C;
  border: 15px solid #E09B31;
}

.salamis, .mushrooms, .corns, .vegs{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.salamis {
  z-index: 1;
}

.corns {
  z-index: 3;
}

.mushrooms {
  z-index: 2;
}

.vegs {
  z-index: 4;
}

.salamis div {
  position: absolute;
  width: 15%;
  height: 15%;
  background-color: rgb(223, 31, 31);
  border-radius: 50%;
}

.sal-1{
  top: 10%;
  left: 25%;
}
.sal-2{
  top: 30%;
  left: 15%;
}
.sal-3{
  top: 32%;
  left: 40%;
}
.sal-4{
  top: 12%;
  left: 56%;
}
.sal-5{
  top: 34%;
  left: 70%;
}
.sal-6{
  top: 56%;
  left: 72%;
}
.sal-7{
  top: 75%;
  left: 50%;
}
.sal-8{
  top: 50%;
  left: 50%;
}
.sal-9{
  top: 55%;
  left: 30%;
}
.sal-10{
  top: 50%;
  left: 10%;
}
.sal-11{
  top: 76%;
  left: 28%;
}

.mushrooms div{
  position: absolute;
  height: 15%;
  width: 10%;
}

.mushrooms div>.stem{
  position: absolute;
  bottom: 0;
  left: 35%;
  width: 30%;
  height: 60%;
  background-color: #C3B5AE;
}

.mushrooms div>.cup{
  position: absolute;
  top: 0;
  width: 100%;
  height: 40%;
  background-color: #B49989;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}

.mushroom-1{
  top: 10%;
  left: 40%;
  transform: rotate(63deg);
}
.mushroom-2{
  top: 27%;
  left: 22%;
  transform: rotate(-43deg);
}
.mushroom-3{
  top: 35%;
  left: 46%;
  transform: rotate(34deg);
}
.mushroom-4{
  top: 24%;
  left: 70%;
  transform: rotate(87deg);
}
.mushroom-5{
  top: 53%;
  left: 72%;
  transform: rotate(-31deg);
}
.mushroom-6{
  top: 14%;
  left: 65%;
  transform: rotate(-20deg);
}
.mushroom-7{
  top: 70%;
  left: 63%;
  transform: rotate(40deg);
}
.mushroom-8{
  top: 64%;
  left: 38%;
  transform: rotate(-46deg);
}
.mushroom-9{
  top: 57%;
  left: 12%;
  transform: rotate(53deg);
}

.corns div {
  width: 3%;
  height: 3%;
  position: absolute;
  background-color: rgb(255, 252, 82);
  border-radius: 50%;
}

.corn-1 {
  top: 10%;
  left: 43%;
}
.corn-2 {
  top: 13%;
  left: 61%;
}
.corn-3 {
  top: 35%;
  left: 20%;
}
.corn-4 {
  top: 34%;
  left: 57%;
}
.corn-5 {
  top: 10%;
  left: 43%;
}
.corn-6 {
  top: 40%;
  left: 71%;
}
.corn-7 {
  top: 65%;
  left: 23%;
}
.corn-8 {
  top: 60%;
  left: 47%;
}
.corn-9 {
  top: 66%;
  left: 72%;
}
.corn-10 {
  top: 81%;
  left: 33%;
}
.corn-11 {
  top: 84%;
  left: 56%;
}
.corn-12 {
  top: 50%;
  left: 65%;
}

.vegs div {
  position: absolute;
  width: 2%;
  height: 6.5%;
  background-color: rgb(28, 131, 2);
}

.veg-1 {
  top: 20%;
  left: 30%;
  transform: rotate(43deg);
}
.veg-2 {
  top: 27%;
  left: 65%;
  transform: rotate(-20deg);
}
.veg-3 {
  top: 38%;
  left: 15%;
  transform: rotate(71deg);
}
.veg-4 {
  top: 40%;
  left: 52%;
  transform: rotate(-67deg);
}
.veg-5 {
  top: 56%;
  left: 87%;
  transform: rotate(110deg);
}
.veg-6 {
  top: 67%;
  left: 12%;
  transform: rotate(135deg);
}
.veg-7 {
  top: 87%;
  left: 50%;
  transform: rotate(72deg);
}
.veg-8 {
  top: 60%;
  left: 63%;
  transform: rotate(-43deg);
}
.veg-9 {
  top: 78%;
  left: 36%;
  transform: rotate(43deg);
}
.veg-10 {
  top: 65%;
  left: 37%;
  transform: rotate(-63deg);
}
.veg-11 {
  top: 34%;
  left: 80%;
  transform: rotate(120deg);
}
.veg-12 {
  top: 12%;
  left: 51%;
  transform: rotate(43deg);
} 